*.out
*.exe
build/
.gdb_history
vgcore.*
.vscode/
*.gcda
*.gcno
*.gcov
*.o
.depend
grammar_peg
next
perf.*
*.patch
tests/benchmark/baseline.*
bench_results
programs/
.idea/
gc_map/
*.profraw
*.profdata
cmake-build*/
util/benchmark2.py
